<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Perpustakaan</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>

	<div class="container pt-5">

		<h3>List Data Buku</h3>

		<button type="button" class="btn btn-sm btn-primary btn_add" data-toggle="modal" data-target="#formModal">Add</button>

		<table class="table table-bordered mt-3" style="width: 50%">
			<thead>
				<tr>
					<th>ID Buku</th>
					<th>Nama Buku</th>
					<th style="width:1%">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="buku : ${listBuku}">
					<td th:text="${buku.id}"></td>
					<td th:text="${buku.nama}"></td>
					<td class="text-center">
						<button type="button" class="btn btn-sm btn-primary btn_edit" data-toggle="modal" data-target="#formModal" th:id="${buku.id}">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
			
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				</div>

				<div class="modal-body">
					<form action="#" th:action="@{/buku}" th:object="${buku}" method="post">
						<div class="form-group">
							<input type="hidden" name="id" id="id" value="0">
							<input type="text" name="nama" id="nama" value="" class="form-control" placeholder="Nama Buku">
						</div>
						<button type="submit" class="btn btn-sm btn-primary">Save</button>
						<button type="button" class="btn btn-sm btn-secondary float-right" data-dismiss="modal">Cancel</button>
					</form>
				</div>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>